*{
    padding:0;
    margin:0;
}

li{
    list-style: none;

    
}

ul{
    display:flex;
    justify-content: space-evenly;
}

nav{
    background-color: rgb(6, 19, 133);
    color:whitesmoke;
    padding:15px;
}

